<div class="container">
  <h1 class="align-center">
    All our Flats (<%= Flat.count %>)
  </h1>

  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-category">
        <%= image_tag "https://source.unsplash.com/random?home", class: "card-img-top w-100 h-50" %>
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
          <span class="icons">
            <i class="fas fa-users"></i><%= flat.number_of_guests %>
            <i class="fas fa-pound-sign"></i><%= flat.price_per_night %>
          </span>
        </div>
        <div class="info-bar">
          <span>
            <%= link_to "More Info", flat_path(flat) %>
            <%= link_to "Edit", edit_flat_path(flat), style: 'color: green'%>
            <%= link_to "Delete", flat_path(flat), method: :delete, style: 'color: red' %>
          </span>
        </div>

      </div>
    <% end %>
  </div>
</div>
