<div class="banner">

</div>

<div class="container">
  <div class="details">
    <div class="more-info">
      <h1><%= @flat.name %> </h1>
      <p><%= @flat.address %> </p>
    </div>
    <div class="more-info">
      <h3>Some more information about this flat...</h3>
      <p><%= @flat.description %> </p>
    </div>
    <div class="more-info">
      <span class="icons">
        <i class="fas fa-users"></i><%= @flat.number_of_guests %>
        <i class="fas fa-pound-sign"></i><%= @flat.price_per_night %>
      </span>
    </div>
  </div>
  <div class="booking">
    <h4>Book this place!</h4>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">From</span>
      <input type="text" class="form-control" placeholder="01/02/2021" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">To</span>
      <input type="text" class="form-control" placeholder="07/02/2021" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-success align-center" type="button">Book</button>
    </div>
  </div>
</div>
